@import 'alignments';


* {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray-color: #171717;
  --mediun-gray-color: #444444;
  --light-gray-color: #E5E5E5;
  --light-pink-color: #E3A383;
  --dark-pink-color: #e96284;
  --font-roboto: 'Roboto Mono', monospace
}


body {
  background-color: var(--dark-gray-color);
  font-family: var(--font-roboto);
  color: var(--light-gray-color);
}

.reset-btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
}

.reset-a {
  text-decoration: none;
  color: inherit;
}

.btn-regular{
  border: 1.5px solid var(--light-gray-color);
  border-radius: 10px;
  padding: 10px;
  color: var(--light-gray-color);
}

.btn-regular:hover {
 color: var(--dark-pink-color);
 border: 1.5px solid var(--dark-pink-color);
transform: scale(1.1);
}

.container {
  height: 75vh;
}


